<% provide(:title, @subject.name) %>
<h1><%= @subject.name %></h1>
<b>Description</b>
<p><%= @subject.description %></p>
<b>Tasks</b>
<ol id="subject">
  <% @tasks.each do |task| %>
    <li>
      <p><%= task.content %><p>
    </li>
  <% end %>
</ol>

